{% extends "base.html" %}
{% block content %}

    <h2>{{ page_title }}</h2>
    <p>
        Bohemian Football Club (Irish: an Cumann Peile Bóihéamach), more commonly referred to as Bohemians or Bohs, is a
        professional football club from Dublin, Ireland. Bohemians compete in the Premier Division of the League of Ireland, and
        are the oldest League of Ireland club in continuous existence. Bohs are the fourth most successful club in League of
        Ireland football history, having won the League of Ireland title 11 times, the FAI Cup 7 times, the League of Ireland
        Shield 6 times and the League of Ireland Cup 3 times. Prior to the establishment of the Football Association of Ireland
        and League of Ireland, Bohemians competed in the Irish Football League and Irish Cup, which were at the time all-Ireland
        competitions. During that period they won the Irish Cup once and finished runners up 5 times. They share the record for
        most wins in European competition with archrivals Shamrock Rovers and hold the record for Leinster Senior Cup wins with
        32 cups claimed.
    </p>

    {% for member in company %}

        <div class="row featurette">

            {% if loop.index % 2 != 0 %}

                <div class="col-md-7">
                    <h3><a href="/about/{{ member.url }}">{{ member.name }}</a></h3>
                    <p>{{ member.description }}</p>
                </div>

                <div class="col-md-5">
                    <img src="{{ member.image_source }}" alt="" class="featurette-image image-responsive">
                </div>

            {% else %}

                <div class="col-md-5">
                    <img src="{{ member.image_source }}" alt="" class="featurette-image image-responsive">
                </div>

                <div class="col-md-7">
                    <h3><a href="/about/{{ member.url }}">{{ member.name }}</a></h3>
                    <p>{{ member.description }}</p>
                </div>

            {% endif %}
        </div>

        {% if loop.index != loop.length %}

        <!--see List of Built-In Filters in Jinja documentation website for more information on these-->

            <hr class="featurette-divider">

        {% endif %}
        
    {% endfor %}

{% endblock %}